/* Minimal Theme */
body {
  background: #fafafa;
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
}

.console-container {
  border: 1px solid #ddd;
  background: #fff;
  box-shadow: none;
  border-radius: 6px;
}

button {
  border-radius: 3px !important;
  background: #eee !important;
  border: 1px solid #ccc !important;
  color: #111 !important;
}
